// @import 'swiper/swiper-bundle.min.css';

.swiper-container {
    width: 100%;
    height: 200px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.image-card {
    // position: relative;
    width: 200px;
    height: 400px;
    // padding-top: 125%;
    /* This gives a 4:5 aspect ratio (4/5 = 0.8, so padding-top = 80%) */
    border: 2px solid #ccc;
    /* Add the border */
    border-radius: 8px;
    /* Optional: round corners */
    // overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: Add some shadow */
    display: flex;
    justify-content: center;
    align-items: center;
}